.windows button {
  border: none;
  height: 100%;
  width: 45px;
  -webkit-app-region: no-drag;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.windows > div {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
}

.windows > section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.windows {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

#titlebar {
  display: flex;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  font-size: 14px;
}

/*---------  dark theme   ---------*/

#titlebar.dark > div > button {
  background-color: #1c2126;
  color: whitesmoke;
}
#titlebar.dark > div > button:hover {
  background-color: #27373f;
}
#titlebar.dark > div > button:hover:last-child {
  background-color: red;
}
#titlebar.dark > div > button > svg > path {
  fill: #f2f2f2;
}
/*-------   light theme  --------*/

#titlebar.light > div > button {
  background-color: #f2f2f2;
}
#titlebar.light > div > button:hover {
  background-color: #dddddd;
}
#titlebar.light > div > button:hover:last-child {
  background-color: red;
}

/* -------------- mac/linux ------------> */
.mac {
  height: 25px;
}
